/*style.css*/
@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

*{font-display:swap; font-family:'press start 2p',Roboto,sans-serif}

@-webkit-keyframes fadeIn{from{opacity:0}to{ opacity:1 } }
@keyframes fadeIn{from{opacity:0}to{opacity:1}}

body {
	background:url("bg_gif/23.gif") center center/cover no-repeat;
	margin:0;
	width:100%;
	height:100%
}

a {
    color:#fff;
    border-bottom:1px solid #fff
 }

.center {
    height:90%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    text-align:center
    }

.main {
    background:rgba(0,0,0,.57);
    width:100%;
    height:100%
    }

.links {
    position:fixed;
    left:20px;
    bottom:25px;
    font-size:13px;
    color:#fff
    }

.white {
	color:#fff
}

.welcome-text {
	font-size:1.75rem
}

.near-text {
	font-size:1rem
}

.fadeIn {
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both
}
